Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

.pre-commit-config.yaml:

exclude: '^ui'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        exclude: '(test|docs)/*'
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        exclude: docs/
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ['--config', 'api/.flake8']
        exclude: (docs/|get_latest_release_changelog.py)
  # -   repo: https://github.com/PyCQA/pylint
  #     rev: v2.15.5
  #     hooks:
  #     -   id: pylint
  #         exclude: (docs/|get_latest_release_changelog.py)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      - id: terraform_fmt
        exclude: '^(?!infrastructure/).*'
      - id: terraform_validate
        exclude: '^(?!infrastructure/).*'
      - id: terraform_docs
        args:
          - markdown table --recursive --output-file README.md .
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.3.261
    hooks:
      - id: checkov
        args: [--quiet, --compact]
        exclude: '^(?!infrastructure/).*'
  - repo: local
    hooks:
      - id: sdk_test
        name: sdk_test
        language: system
        entry: bash -c 'make sdk-test'
        files: sdk/*.
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: ['--config', 'ui/.prettierrc.json', './ui']
  - repo: local
    hooks:
      - id: ui_test
        name: ui_test
        language: system
        entry: bash -c 'cd ./ui; npm install; npm run test:all'
        files: ui/*.
        pass_filenames: false

Update and slim down requirements, fixing dependabot issues
  api/Dockerfile
  api/api/application/services/authorisation/authorisation_service.py
  api/api/application/services/partitioning_service.py
  api/api/controller/datasets.py
  api/api/controller/schema.py
  api/api/domain/enriched_schema.py
  api/api/domain/sql_query.py
  api/api/exception_handler.py
  api/requirements-dev.txt
  api/requirements.txt
  api/test/api/application/services/test_permissions_service.py
  api/test/api/common/test_data_handlers.py
  api/test/api/controller/test_client.py
  api/test/api/controller/test_datasets.py
  api/test/api/controller/test_schema.py
  api/test/api/controller/test_user.py
  api/test/api/domain/test_sql_query.py
Due: ui_test

doc tweaks
  CHANGELOG.md
  api/api/common/config/docs.py
  docs/changelog.md
  docs/diagrams/general_usage_flow.png
  docs/diagrams/ui_create_schema.png
  docs/diagrams/ui_create_user.png
  docs/diagrams/ui_dashboard_home.png
  docs/diagrams/ui_download_data.png
  docs/diagrams/upload_and_query_data.png
  docs/diagrams/upload_and_query_large_data.png
  docs/ui/todo.md
  docs/ui/usage.md
  get_latest_release_changelog.py
  mkdocs.yml
  ui/src/pages/index.tsx
Due: ui_test

Fix requirements
  api/requirements.txt
Due: ui_test

Fix requirements again
  .pre-commit-config.yaml
  api/requirements-dev.txt
Due: ui_test

Update swagger docs CSP
  api/api/entry.py
Due: none

Fix zero row errors, along with others
  api/api/application/services/dataset_validation.py
  api/api/common/data_handlers.py
  api/api/controller/datasets.py
  api/test/api/application/services/test_dataset_validation.py
  api/test/api/controller/test_datasets.py
  ui/src/__tests__/catalog.test.tsx
  ui/src/pages/catalog/[search].tsx
  ui/src/pages/data/download/[layer]/[domain]/[dataset].tsx
  ui/src/service/types.ts
Due: none

docs
  docs/api/usage.md
  docs/contributing.md
  docs/getting_started.md
Due: none

Add e2e catalogue test and other fixes
  Makefile
  api/api/controller/datasets.py
  ui/playwright/test-data-flow.spec.ts
  ui/playwright/utils.ts
Due: none

Move comment
  Makefile
Due: none

fix checkov scanning
  .pre-commit-config.yaml
  Makefile
  api/Dockerfile
  docs/api/query.md
  infrastructure/Dockerfile
  infrastructure/blocks/pipeline/iam.tf
  infrastructure/blocks/s3/main.tf
  infrastructure/modules/app-cluster/cloudtrail.tf
  infrastructure/modules/app-cluster/load_balancer.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/routing.tf
  infrastructure/modules/auth/main.tf
  infrastructure/modules/auth/users.tf
  infrastructure/modules/aws-core/config/main.tf
  infrastructure/modules/aws-core/iam-resources/iam.tf
  infrastructure/modules/aws-core/iam-users/iam.tf
  infrastructure/modules/data-workflow/athena.tf
  infrastructure/modules/multihost-vpc/main.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/ui/cloudfront.tf
  infrastructure/modules/ui/lambda.tf
  infrastructure/modules/ui/s3.tf
Due: ui_test

Fix UI dependabot and CSP-policy
  api/api/entry.py
  ui/package-lock.json
  ui/package.json
  ui/playwright/test-data-flow.spec.ts
  ui/src/components/SchemaCreate.tsx
  ui/src/pages/catalog/index.tsx
  ui/src/pages/schema/create/index.tsx
  ui/src/pages/subject/create/index.tsx
  ui/src/pages/subject/modify/[subjectId].tsx
  ui/src/service/types.ts
Due: none

Remove unnecessary line
  ui/src/service/types.ts
Due: none

PR changes
  docs/contributing.md
  docs/diagrams/ui_dashboard_home.png
  docs/getting_started.md
  docs/ui/usage.md
Due: ui_test

spell check
  docs/contributing.md
Due: none

Replace with make command
  Makefile
  docs/contributing.md
Due: none

Add changelog and migration instructions
  Makefile
  api/batect.yml
  docs/changelog.md
  docs/migration.md
  mkdocs.yml
Due: none

doc tweaks
  docs/api/routes/dataset.md
  docs/api/schema.md
  docs/contributing.md
  docs/diagrams/infrastructure_overview.png
  docs/getting_started.md
  docs/infrastructure/diagrams.md
  docs/infrastructure/overview.md
  docs/sdk/api.md
  docs/sdk/usage.md
  mkdocs.yml
Due: sdk_test

fix pr comments
  .pre-commit-config.yaml
  infrastructure/blocks/app-cluster/main.tf
  infrastructure/blocks/data-workflow/output.tf
  infrastructure/modules/app-cluster/cloudtrail.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/auth/main.tf
  infrastructure/modules/auth/users.tf
  infrastructure/modules/data-workflow/output.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/ui/lambda.tf
Due: ui_test

changelog changes
  changelog_release_template.md
  docs/changelog.md
Due: none

fix ui testing
  ui/playwright/test-data-flow.spec.ts
  ui/src/__tests__/catalog.test.tsx
  ui/src/components/PermissionsTable/PermissionsTable.tsx
  ui/src/pages/data/upload/index.tsx
Due: none
