Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

.pre-commit-config.yaml:

exclude: '^ui'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        exclude: '(test|docs)/*'
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        exclude: docs/
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ['--config', 'api/.flake8']
        exclude: (docs/|get_latest_release_changelog.py)
  # -   repo: https://github.com/PyCQA/pylint
  #     rev: v2.15.5
  #     hooks:
  #     -   id: pylint
  #         exclude: (docs/|get_latest_release_changelog.py)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      - id: terraform_fmt
        exclude: '^(?!infrastructure/).*'
      - id: terraform_validate
        exclude: '^(?!infrastructure/).*'
      - id: terraform_docs
        args:
          - markdown table --recursive --output-file README.md .
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.3.261
    hooks:
      - id: checkov
        args: [--quiet, --compact]
        exclude: '^(?!infrastructure/).*'
  - repo: local
    hooks:
      - id: sdk_test
        name: sdk_test
        language: system
        entry: bash -c 'make sdk-test'
        files: sdk/*.
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: ['--config', 'ui/.prettierrc.json', './ui']
  - repo: local
    hooks:
      - id: ui_test
        name: ui_test
        language: system
        entry: bash -c 'cd ./ui; npm install; npm run test:all'
        files: ui/*.
        pass_filenames: false

Split markdown files for changelog
  docs/changelog/api.md
  docs/changelog/sdk.md
Due: sdk_test

delete old changelog
  docs/changelog.md
Due: none

docs process updated
  Makefile
  mkdocs.yml
  release.py
Due: none

reorganise changelog order
  mkdocs.yml
Due: none

adding quick fix to setup.py
  sdk/setup.py
Due: sdk_test

fix PR comments
  .env.example
  api/api/common/config/auth.py
  api/api/common/config/constants.py
  api/api/domain/user.py
  api/batect.yml
  api/test/api/adapter/test_cognito_adapter.py
  api/test/api/domain/test_user_request.py
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
Due: none

removing unneeded load_dotenv
  api/api/domain/user.py
Due: none

fixing tests, not sure why they fail
  api/test/api/controller/test_schema.py
Due: none

remove unneeded packages
  api/api/domain/user.py
  api/test/api/adapter/test_cognito_adapter.py
  api/test/api/domain/test_user_request.py
Due: none

fix comments
  .github/workflows/dev.yml
  Makefile
  docs/changelog/api.md
  docs/changelog/sdk.md
  mkdocs.yml
  release.py
  sdk/setup.py
Due: sdk_test

final fix
  Makefile
Due: none

add regex expression to env file
  .github/.github.env
Due: none

fix
  .github/.github.env
Due: none

quick check
  .github/.github.env
  api/api/common/config/constants.py
Due: none

Trying to see regex env var in action context
  .github/workflows/dev.yml
  api/api/domain/user.py
Due: none

fixing typo
  api/api/common/config/constants.py
Due: none

fix dev.yml
  .github/workflows/dev.yml
Due: none

try again
  .github/workflows/dev.yml
Due: none

test yml
  .github/workflows/dev.yml
Due: none

amend blocks
  docs/infrastructure/deployment.md
Due: none

forgot to amend rapid module
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
Due: none

resolve comments
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  Makefile
  release.py
Due: sdk_test

quick code comment responses
  api/api/common/config/constants.py
  docs/infrastructure/deployment.md
Due: none

wrong name for regex var, fix
  api/api/common/config/constants.py
Due: none

trying without slashes
  .github/.github.env
  .github/workflows/dev.yml
Due: none

update docs
  docs/contributing.md
Due: none

fix
  .github/workflows/dev.yml
Due: none

Update contributing.md
  docs/contributing.md
Due: none

Fix/release process (#74)
  .env.example
  .github/workflows/dev.yml
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  Makefile
  docs/changelog/api.md
  docs/changelog/sdk.md
  docs/contributing.md
  mkdocs.yml
  release.py
  sdk/setup.py
Due: sdk_test

fix
  api/api/common/config/constants.py
Due: none

Release: v7.0.9 [API] v0.1.7 [SDK] (#75)
  .env.example
  .github/.github.env
  .github/workflows/dev.yml
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  Makefile
  api/api/adapter/s3_adapter.py
  api/api/application/services/data_service.py
  api/api/common/config/constants.py
  api/api/domain/user.py
  api/batect.yml
  api/requirements.txt
  api/test/api/adapter/test_cognito_adapter.py
  api/test/api/application/services/test_data_service.py
  api/test/api/controller/test_schema.py
  api/test/api/domain/test_user_request.py
  docs/changelog/api.md
  docs/changelog/sdk.md
  docs/contributing.md
  docs/infrastructure/deployment.md
  infrastructure/blocks/app-cluster/main.tf
  infrastructure/blocks/app-cluster/variables.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
  mkdocs.yml
  release.py
  sdk/rapid/exceptions.py
  sdk/rapid/rapid.py
  sdk/setup.py
  sdk/tests/test_rapid.py
  ui/package-lock.json
Due: sdk_test, ui_test

upgrade API version
  infrastructure/modules/rapid/variables.tf
Due: none

fix release code
  release.py
Due: none

fix release title
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  Makefile
  docs/changelog/api.md
Due: sdk_test

fix release title uppercasing
  Makefile
Due: none
