Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

sdk_test:
  name: sdk_test
  language: system
  entry: bash -c 'make sdk-test'
  pass_filenames: false

ui_test:
  name: ui_test
  language: system
  entry: bash -c 'cd ./ui; npm install; npm run test:all'
  pass_filenames: false

ensure we .lower() when scanning across the dynamodb schemas
  api/api/domain/dataset_filters.py
Due: none

tweak to handle NoneType
  api/api/domain/dataset_filters.py
Due: none

prepare release
  docs/changelog.md
Due: none

Improve the release process, update docs, add terraform outputs
  Makefile
  docs/changelog.md
  docs/migration.md
  get_latest_release_changelog.py
  infrastructure/blocks/data-workflow/output.tf
  infrastructure/modules/data-workflow/output.tf
  infrastructure/modules/rapid/outputs.tf
  infrastructure/modules/rapid/variables.tf
  release.py
Due: none

Update changelog
  docs/changelog.md
Due: none

create client via the sdk
  sdk/rapid/exceptions.py
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
Due: sdk_test

new functions and unit tests
  sdk/rapid/exceptions.py
  sdk/rapid/rapid.py
  sdk/tests/test_items/test_schema.py
  sdk/tests/test_rapid.py
Due: sdk_test

fix create schema fails because of incorrect status codes
  sdk/rapid/rapid.py
  sdk/tests/test_items/test_schema.py
  sdk/tests/test_patterns/test_patterns.py
  sdk/tests/test_rapid.py
Due: sdk_test

playwright install
  .github/workflows/ui-tests.yml
  ui/package-lock.json
  ui/package.json
Due: ui_test

fix tests
  sdk/tests/test_items/test_schema.py
Due: sdk_test

fix e2e tests
  ui/playwright/test-user-flow.spec.ts
Due: none

new ui button for the ability to delete subjects
  ui/src/__tests__/subject/delete.test.tsx
  ui/src/components/Dialog/Dialog.tsx
  ui/src/components/Drawer/Drawer.tsx
  ui/src/components/Icon/index.tsx
  ui/src/components/Icon/svg/arrow-up-from-square.svg
  ui/src/components/Icon/svg/cloud-download-alt.svg
  ui/src/components/Icon/svg/delete-user.svg
  ui/src/components/Icon/svg/download.svg
  ui/src/components/Icon/svg/pencil.svg
  ui/src/components/Icon/svg/trash.svg
  ui/src/components/Icon/svg/upload.svg
  ui/src/pages/subject/delete/index.tsx
  ui/src/pages/subject/modify/index.tsx
  ui/src/pages/subject/utils.ts
  ui/src/service/constants.ts
  ui/src/service/fetch.ts
Due: none

Fix sdk dataset patterns
  Makefile
  docs/changelog.md
  docs/sdk/api/patterns/data.md
  docs/sdk/useful_patterns.md
  infrastructure/modules/rapid/variables.tf
  sdk/rapid/patterns/data.py
  sdk/rapid/patterns/dataset.py
  sdk/rapid/rapid.py
  sdk/setup.py
  sdk/tests/test_patterns/test_dataset.py
  sdk/tests/test_patterns/test_patterns.py
Due: sdk_test

add permissions to kms policy
  infrastructure/modules/app-cluster/cloudtrail.tf
Due: none

split lb sg into two
  infrastructure/modules/app-cluster/load_balancer.tf
Due: none

sort lb sg
  infrastructure/modules/app-cluster/main.tf
Due: none

add permission to kms policy
  infrastructure/modules/app-cluster/cloudtrail.tf
Due: none

change sh file encoding
  infrastructure/modules/ui/scripts/ui.sh.tpl
Due: ui_test

allow ecs public ip
  infrastructure/modules/app-cluster/main.tf
Due: none

update
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/ui/scripts/ui.sh.tpl
Due: ui_test

update
  infrastructure/modules/ui/scripts/ui.sh.tpl
Due: ui_test

force deployment
  infrastructure/modules/ui/s3.tf
Due: ui_test

Fix docstrings
  sdk/rapid/patterns/dataset.py
  sdk/rapid/rapid.py
Due: sdk_test

Fix pydantic test and remove unnecessary pre-commits
  .pre-commit-config.yaml
  sdk/tests/test_items/test_schema.py
Due: sdk_test

Path conditions:
  sdk_test: any of: sdk/*., but not: ^ui
  ui_test: any of: ui/*., but not: ^ui
