Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

sdk_test:
  name: sdk_test
  language: system
  entry: bash -c 'make sdk-test'
  pass_filenames: false

ui_test:
  name: ui_test
  language: system
  entry: bash -c 'cd ./ui; npm install; npm run test:all'
  pass_filenames: false

release changelog
  docs/changelog.md
  infrastructure/modules/rapid/variables.tf
  sdk/setup.py
Due: sdk_test

ui testing
  ui/src/__tests__/components/schema_create.test.tsx
  ui/src/components/SchemaCreate.tsx
Due: none

tweak api to default a date format and fix sdk to send data to parquet
  .pre-commit-config.yaml
  api/api/application/services/schema_infer_service.py
  api/requirements.txt
  api/test/api/application/services/test_schema_infer_service.py
  sdk/rapid/rapid.py
  sdk/requirements.txt
  sdk/setup.py
  sdk/tests/test_rapid.py
Due: sdk_test, ui_test

fix tests
  ui/src/__tests__/subject/create.test.tsx
  ui/src/components/PermissionsTable/PermissionsTable.tsx
Due: none

nump nextjs and remove the deprecated @next/font
  ui/package-lock.json
  ui/package.json
Due: none

fix swagger docco ui
  api/api/entry.py
  ui/src/components/Select/Select.tsx
Due: none

enable data bucket with eventbridge
  infrastructure/blocks/pipeline/iam.tf
  infrastructure/blocks/s3/main.tf
  infrastructure/modules/rapid/main.tf
Due: none

docco changes
  docs/api/schema.md
Due: none

prepare for release
  docs/changelog.md
  infrastructure/modules/rapid/variables.tf
  mkdocs.yml
  sdk/setup.py
Due: sdk_test

add in variable for cpu and memory usage for task
  infrastructure/blocks/app-cluster/main.tf
  infrastructure/blocks/app-cluster/variables.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
Due: none

resolve PR comments
  infrastructure/blocks/app-cluster/variables.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
Due: none

create protected domain via the sdk
  sdk/rapid/exceptions.py
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
Due: sdk_test

Fix file prefix path to ensure dataset last updated it always updated
  api/api/adapter/s3_adapter.py
  api/api/application/services/data_service.py
  api/test/api/application/services/test_data_service.py
  api/test/api/controller/test_schema.py
Due: none

update docs
  docs/infrastructure/deployment.md
Due: none

regex check for username
  .env.example
  api/api/adapter/dynamodb_adapter.py
  api/api/common/config/constants.py
  api/api/domain/user.py
  api/requirements.txt
  api/test/api/domain/test_user_request.py
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
Due: ui_test

some more changes
  api/api/adapter/dynamodb_adapter.py
  api/api/common/config/auth.py
  api/api/domain/user.py
  api/batect.yml
  infrastructure/modules/app-cluster/variables.tf
Due: none

Mostly working tests
  api/api/domain/user.py
  api/test/api/adapter/test_cognito_adapter.py
  api/test/api/domain/test_user_request.py
Due: none

mostly working tests
  api/test/api/domain/test_user_request.py
Due: none

passed tests
  .env.example
  api/api/domain/user.py
  api/test/api/adapter/test_cognito_adapter.py
  api/test/api/domain/test_user_request.py
Due: none

lint errors
  api/api/common/config/constants.py
  api/api/domain/user.py
  api/test/api/adapter/test_cognito_adapter.py
Due: none

user create/delete
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
Due: sdk_test

add functions
  sdk/rapid/rapid.py
Due: sdk_test

add tests
  sdk/rapid/rapid.py
  sdk/tests/test_rapid.py
Due: sdk_test

fix sdk test functions bug
  sdk/tests/test_rapid.py
Due: sdk_test

fix test function url bug
  sdk/tests/test_rapid.py
Due: sdk_test

see if sdk_test can be brought back
  .env.example
  .github/workflows/dev.yml
  sdk/setup.py
Due: sdk_test

quick fix
  .github/workflows/dev.yml
Due: none

misspelt step
  .github/workflows/dev.yml
Due: none

more fixes
  .github/workflows/dev.yml
Due: none

Fixing action uncomment blocks
  .github/workflows/dev.yml
Due: none

make separate release processes for api and sdk
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
Due: sdk_test

Creating separate make commands for the api and sdk releases, contain execution using if condition
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  Makefile
Due: sdk_test

Path conditions:
  sdk_test: any of: sdk/*., but not: ^ui
  ui_test: any of: ui/*., but not: ^ui
