Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

.pre-commit-config.yaml:

exclude: '^ui'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        exclude: '(test|docs)/*'
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        exclude: docs/
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ['--config', 'api/.flake8']
        exclude: (docs/|get_latest_release_changelog.py)
  # -   repo: https://github.com/PyCQA/pylint
  #     rev: v2.15.5
  #     hooks:
  #     -   id: pylint
  #         exclude: (docs/|get_latest_release_changelog.py)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      - id: terraform_fmt
        exclude: '^(?!infrastructure/).*'
      - id: terraform_validate
        exclude: '^(?!infrastructure/).*'
      - id: terraform_docs
        args:
          - markdown table --recursive --output-file README.md .
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.3.261
    hooks:
      - id: checkov
        args: [--quiet, --compact]
        exclude: '^(?!infrastructure/).*'
  - repo: local
    hooks:
      - id: sdk_test
        name: sdk_test
        language: system
        entry: bash -c 'make sdk-test'
        files: sdk/*.
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: ['--config', 'ui/.prettierrc.json', './ui']
  - repo: local
    hooks:
      - id: ui_test
        name: ui_test
        language: system
        entry: bash -c 'cd ./ui; npm install; npm run test:all'
        files: ui/*.
        pass_filenames: false

fix ui testing
  .pre-commit-config.yaml
Due: none

merge main
  .pre-commit-config.yaml
Due: none

Add geo-location configuration
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
  infrastructure/modules/ui/cloudfront.tf
  infrastructure/modules/ui/variables.tf
Due: ui_test

Fix checkov scan errors
  infrastructure/modules/aws-core/iam-users/iam.tf
Due: none

Small fixes
  api/api/application/services/authorisation/dataset_access_evaluator.py
  api/api/common/config/auth.py
  api/api/common/data_handlers.py
  api/api/common/data_parsers.py
  api/api/controller/datasets.py
  api/api/controller/schema.py
  api/api/controller/user.py
  api/api/domain/dataset_metadata.py
  api/api/domain/permission_item.py
  api/test/api/application/services/authorisation/test_dataset_access_evaluator.py
  api/test/api/common/test_data_parsers.py
  docs/api/routes/user.md
  docs/infrastructure/certificates.md
  docs/infrastructure/deployment.md
  docs/infrastructure/overview.md
Due: none

fix iam permissions
  infrastructure/blocks/app-cluster/main.tf
  infrastructure/blocks/data-workflow/output.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/data-workflow/output.tf
  infrastructure/modules/rapid/main.tf
Due: none

add layers to infrastructure
  infrastructure/blocks/app-cluster/main.tf
  infrastructure/blocks/app-cluster/variables.tf
  infrastructure/modules/app-cluster/main.tf
  infrastructure/modules/app-cluster/variables.tf
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
Due: none

fix layers
  infrastructure/modules/app-cluster/main.tf
Due: none

README changes
  README.md
Due: none

push fix for catalog multiple matching
  ui/src/components/SimpleTable/SimpleTable.tsx
Due: none

readthedocs
  .readthedocs.yaml
Due: none

Ensure Makefile export's required variables
  api/Makefile
Due: none

fixing e2e tests
  api/api/application/services/authorisation/dataset_access_evaluator.py
  api/api/application/services/schema_service.py
  api/api/domain/permission_item.py
  api/test/api/application/services/authorisation/test_dataset_access_evaluator.py
  api/test/api/application/services/test_schema_service.py
  api/test/e2e/test_files/schemas/test_e2e-query.json
  api/test/e2e/test_files/schemas/test_e2e-update_v1.json
  api/test/e2e/test_files/schemas/test_e2e-update_v2.json
  api/test/e2e/test_files/schemas/test_e2e_protected-do_not_delete.json
  api/test/e2e/test_journey.py
Due: none

Ensure E2E tests pass Flake8
  api/test/e2e/test_journey.py
Due: none

Github action fixes, give aws credentials to batect on EC2
  .github/workflows/main.yml
  Makefile
  api/batect.yml
Due: none

Add E2E variables
  .github/workflows/main.yml
  api/batect.yml
  api/test/e2e/test_journey.py
Due: none

Add the correct permissions to the pipeline for the E2E tests
  .github/workflows/release.yml
  infrastructure/blocks/pipeline/data.tf
  infrastructure/blocks/pipeline/iam.tf
Due: none

Fix E2E test by including DynamoDB Permission Table
  api/api/common/config/aws.py
  api/test/e2e/test_journey.py
  api/test/scripts/delete_protected_domain_permission.py
  api/test/scripts/migrate_datasets_to_new_versioning_structure.py
  api/test/scripts/user_permission_test_script.py
Due: none

Increment versions for release
  docs/changelog.md
  sdk/setup.py
Due: sdk_test

Add layer to sdk docs
  docs/sdk/usage.md
  docs/sdk/useful_patterns.md
Due: sdk_test

Fix the release
  .github/workflows/release.yml
Due: none

release v7.0.0
  .readthedocs.yaml
  README.md
  docs/changelog.md
  get_latest_release_changelog.py
  sdk/setup.py
Due: sdk_test

Fix v7.0.0 release
  sdk/tests/test_items/test_schema.py
Due: sdk_test

Fix the date type issue, where they were being saved as strings
  api/api/adapter/s3_adapter.py
  api/api/application/services/data_service.py
  api/api/application/services/dataset_validation.py
  api/api/domain/data_types.py
  api/api/domain/schema.py
  api/test/api/adapter/test_s3_adapter.py
  api/test/api/application/services/test_data_service.py
  api/test/api/application/services/test_dataset_validation.py
  api/test/api/domain/test_schema.py
  docs/changelog.md
Due: none

Fix playwright tests
  .github/workflows/ui-tests.yml
Due: ui_test

Fix the variables used in the playwright tests
  .github/workflows/ui-tests.yml
  ui/playwright/auth.setup.ts
  ui/playwright/test-user-flow.spec.ts
  ui/playwright/utils.ts
Due: ui_test

Fix the variables for the playwright test and sdk generate_dataset_info bug
  .github/workflows/ui-tests.yml
  .pre-commit-config.yaml
  docs/changelog.md
  sdk/rapid/patterns/data.py
  sdk/rapid/rapid.py
  sdk/setup.py
  sdk/tests/test_patterns/test_patterns.py
  sdk/tests/test_rapid.py
Due: sdk_test, ui_test

Rename references to the previous rapid-ui repo
  docs/changelog.md
  infrastructure/modules/ui/s3.tf
  ui/.storybook/theme.js
  ui/Makefile
Due: ui_test

Add fixes to the migration script and docs
  Makefile
  api/batect.yml
  api/migrations/scripts/v7_layer_migration.py
  docs/changelog.md
  docs/migration.md
Due: none
