Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

sdk_test:
  name: sdk_test
  language: system
  entry: bash -c 'make sdk-test'
  pass_filenames: false

ui_test:
  name: ui_test
  language: system
  entry: bash -c 'cd ./ui; npm install; npm run test:all'
  pass_filenames: false

Combine the makefiles and delete batect
  .env.example
  .github/.github.env
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  .github/workflows/scheduled-vulnerability-check.yml
  .github/workflows/ui-tests.yml
  Brewfile
  Makefile
  api/Dockerfile
  api/Makefile
  api/batect
  api/batect.yml
  api/local-venv-setup.sh
  docs/contributing.md
  docs/infrastructure/deployment.md
  docs/migration.md
  infrastructure/batect
  infrastructure/batect.yml
  sdk/Makefile
  ui/Makefile
Due: sdk_test, ui_test

Delete docs on the RAT token
  docs/contributing.md
Due: none

Fix some github actions
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  sdk/tests/test_items/test_schema.py
Due: sdk_test

Align venv creation
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/ui-tests.yml
  Makefile
  api/local-venv-setup.sh
  docs/contributing.md
Due: ui_test

Fix UI tests
  ui/src/__tests__/schema/create.test.tsx
Due: none

Fix Makefile commands
  Makefile
  ui/src/__tests__/schema/create.test.tsx
Due: none

Finish refactor of the E2E tests
  .github/workflows/main.yml
  Makefile
  api/requirements-dev.txt
  api/test/api/application/services/authorisation/test_authorisation_service.py
  api/test/e2e/README.md
  api/test/e2e/journeys/__init__.py
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/schemas/test_e2e-dataset.json.tpl
  api/test/e2e/journeys/schemas/test_e2e-protected.json.tpl
  api/test/e2e/journeys/schemas/test_e2e-schema_v1.json.tpl
  api/test/e2e/journeys/schemas/test_e2e-schema_v2.json.tpl
  api/test/e2e/journeys/schemas/test_e2e-unauthorised.json.tpl
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_general.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_subjects.py
  api/test/e2e/journeys/test_unauthenticated.py
  api/test/e2e/journeys/test_unauthorised.py
  api/test/e2e/setup_e2e_tests.py
  api/test/e2e/test_files/schemas/test_e2e-update_v1.json
  api/test/e2e/test_journey.py
  api/test/e2e/utils.py
Due: ui_test

Fix typos
  Makefile
Due: none

Fix pytest errors
  Makefile
  backend/api/exception_handler.py
  backend/requirements.txt
  backend/test/api/controller/test_client.py
  backend/test/api/controller/test_datasets.py
  backend/test/api/controller/test_schema.py
  backend/test/api/controller/test_user.py
Due: ui_test

De-duplicate code, where possible, now the SDK is merged
  backend/api/adapter/athena_adapter.py
  backend/api/application/services/authorisation/dataset_access_evaluator.py
  backend/api/application/services/data_service.py
  backend/api/controller/datasets.py
  backend/api/domain/dataset_metadata.py
  backend/api/domain/sql_query.py
  backend/rapid/items/query.py
  backend/rapid/items/schema.py
  backend/rapid/items/schema_metadata.py
  backend/rapid/patterns/dataset.py
  backend/test/api/adapter/test_athena_adapter.py
  backend/test/api/application/services/test_data_service.py
  backend/test/api/controller/test_datasets.py
  backend/test/rapid/items/test_query.py
  backend/test/rapid/items/test_schema.py
  backend/test/rapid/patterns/test_dataset.py
  backend/test/rapid/test_items/test_query.py
  docs/sdk/useful_patterns.md
Due: sdk_test

Remove duplicate tests
  backend/test/api/domain/test_sql_query.py
Due: none

Add cleanup step back in
  .github/workflows/release_api.yml
Due: none

Remove unnecessary pytest focus
  api/test/api/application/services/authorisation/test_authorisation_service.py
Due: none

literal strings to read_json being deprecated. use stringio.
  sdk/rapid/rapid.py
Due: sdk_test

enable sql injection protection turn off with var
  infrastructure/modules/rapid/main.tf
  infrastructure/modules/rapid/variables.tf
  infrastructure/modules/ui/variables.tf
  infrastructure/modules/ui/waf.tf
Due: ui_test

fix var description
  infrastructure/modules/rapid/variables.tf
  infrastructure/modules/ui/variables.tf
Due: ui_test

update sdk schema with description, is_latest_version and update_behaviour
  docs/changelog/sdk.md
  sdk/rapid/items/schema.py
  sdk/setup.py
  sdk/tests/test_items/test_schema.py
Due: sdk_test

Add 7.11.0 changelog
  docs/changelog/api.md
Due: none

Remove nested git commands
  api/image-utils.sh
Due: none

Fix the image tagging for PROD releases
  api/image-utils.sh
Due: none

Move to a less vulnerable image and accept unimportant known vulnerabilities
  Makefile
  api/Dockerfile
  api/vulnerability-ignore-list.txt
Due: none

Remove debugging code
  Makefile
Due: none

Path conditions:
  sdk_test: any of: sdk/*., but not: ^ui
  ui_test: any of: ui/*., but not: ^ui
