Repository no10ds/rapid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdk_test, ui_test

.pre-commit-config.yaml:

exclude: '^ui'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        exclude: '(test|docs)/*'
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.3.0
    hooks:
      - id: detect-secrets
        exclude: docs/
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args: ['--config', 'api/.flake8']
        exclude: (docs/|get_latest_release_changelog.py)
  # -   repo: https://github.com/PyCQA/pylint
  #     rev: v2.15.5
  #     hooks:
  #     -   id: pylint
  #         exclude: (docs/|get_latest_release_changelog.py)
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.81.0
    hooks:
      - id: terraform_fmt
        exclude: '^(?!infrastructure/).*'
      - id: terraform_validate
        exclude: '^(?!infrastructure/).*'
      - id: terraform_docs
        args:
          - markdown table --recursive --output-file README.md .
        exclude: '^(?!infrastructure/).*'
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 2.3.261
    hooks:
      - id: checkov
        args: [--quiet, --compact]
        exclude: '^(?!infrastructure/).*'
  - repo: local
    hooks:
      - id: sdk_test
        name: sdk_test
        language: system
        entry: bash -c 'make sdk-test'
        files: sdk/*.
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: ['--config', 'ui/.prettierrc.json', './ui']
  - repo: local
    hooks:
      - id: ui_test
        name: ui_test
        language: system
        entry: bash -c 'cd ./ui; npm install; npm run test:all'
        files: ui/*.
        pass_filenames: false

Remove debugging code
  Makefile
Due: none

Update vulnerability list
  Makefile
  api/vulnerability-ignore-list.txt
Due: none

Add dotenv
  api/requirements-dev.txt
  api/requirements.txt
Due: ui_test

expand e2e tests for unauthorised, unauthenticated and subject journeys complete
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_subjects.py
  api/test/e2e/journeys/test_unauthenticated.py
  api/test/e2e/journeys/test_unauthorised.py
Due: none

protected_domains e2e test expanded
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_general.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
Due: none

cleaned up protected domains
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
Due: none

datasets e2e domain
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_protected_domains.py
  infrastructure/modules/auth/db.tf
  infrastructure/modules/auth/users.tf
Due: none

All tests running, pending cleanup
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_general.py
  api/test/e2e/journeys/test_protected_domains.py
Due: none

ready for PR
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_general.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_subjects.py
  api/test/e2e/journeys/test_unauthorised.py
Due: none

lint errors fixed
  backend/api/application/services/dataset_validation.py
  backend/test/rapid/items/test_schema.py
Due: none

checkout actions updated
  .github/workflows/dev.yml
  .github/workflows/main.yml
  .github/workflows/release_api.yml
  .github/workflows/release_sdk.yml
  .github/workflows/scheduled-vulnerability-check.yml
  .github/workflows/ui-tests.yml
Due: sdk_test, ui_test

chnage to return over write
  backend/rapid/items/schema_metadata.py
  backend/test/rapid/items/test_schema.py
Due: none

missed upgrade to v4
  .github/workflows/dev.yml
  .github/workflows/release_api.yml
  .github/workflows/ui-tests.yml
Due: ui_test

respond to comments and fix tests
  Makefile
  api/requirements.txt
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/schemas/test_e2e-schema_generated_schema.json.tpl
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_unauthorised.py
Due: ui_test

lint errors
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_general.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_unauthorised.py
Due: none

respond to PR comments
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_subjects.py
Due: none

small change for schema compare method
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_protected_domains.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_subjects.py
Due: none

clean up
  api/test/e2e/journeys/test_datasets.py
  api/test/e2e/journeys/test_schemas.py
  api/test/e2e/journeys/test_unauthorised.py
  infrastructure/modules/auth/db.tf
  infrastructure/modules/auth/users.tf
Due: none

remove unneeded version from SchemaVersion class
  api/test/e2e/journeys/base_journey.py
Due: none

final changes
  api/requirements-dev.txt
  api/test/e2e/journeys/base_journey.py
  api/test/e2e/journeys/test_datasets.py
  infrastructure/modules/auth/db.tf
Due: ui_test

revert change
  api/test/e2e/journeys/base_journey.py
Due: none

allow duplicates column schema par in api and sdk
  api/api/application/services/dataset_validation.py
  api/api/application/services/schema_infer_service.py
  api/api/application/services/schema_validation.py
  api/api/domain/schema.py
  api/test/api/adapter/test_dynamodb_adapter.py
  api/test/api/application/services/test_dataset_validation.py
  api/test/api/application/services/test_schema_validation.py
  sdk/rapid/items/schema.py
  sdk/tests/test_items/test_schema.py
  sdk/tests/test_rapid.py
Due: sdk_test
